/* input.form-control {
  width: auto;
} */

.select2-container--default .select2-selection--single .select2-selection__rendered {
  /* background-color: #4099ff; */
  color: #fff;
  padding: 8px 30px 8px 20px;
}