<div class="page-body">
  <div class="card">

    <div class="card-header">
      <h5 class="card-title">Product List</h5>
      <button type="button" class="btn btn-sm btn-outline-primary float-right">Add New</button>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          <ag-grid-angular style="width: 900px; height: 500px;"
                           class="ag-theme-balham"
                           [rowData]="prodService.rowData"
                           [columnDefs]="column"
                           [enableFilter]="true"
                           [floatingFilter]="true"
                           [animateRows]="true"
                           [multiSortKey]="true"
                           [pagination]="true"
                           [paginationPageSize]="10"
                           [frameworkComponents]="frameworkComponents"
                           (click)=onBtnClick1($event)
                           (gridReady)="OnGridReady($event)">
          </ag-grid-angular>
        </div>
      </div>

      <!--<div class="col-md-2">
          <input type="button" (click)="rowAdd()" value="Row Add" class="col-md-12" />
          <input type="button" (click)="rowUpdate()" value="Row Update" class="col-md-12" />
          <input type="button" (click)="newData()" value="New Data" class="col-md-12" />
          <input type="button" (click)="cellUpdate()" value="Column Update" class="col-md-12" />
          <input type="button" (click)="clear()" value="Clear" class="col-md-12" />
        </div>
      </div>-->
      <!-- <h4>Row data from button 1: </h4>
      <pre>{{rowDataClicked1 | json}}</pre> -->
    </div>
  </div>
</div>


<!--
  <ag-grid-angular style="width: 500px; height: 400px;"
        class="ag-theme-balham"
        [enableSorting]="true"
        [enableFilter]="true"
        [floatingFilter]="true"
        [rowData]="rowData"
        [animateRows]="true"
        [multiSortKey]="true"
        [pagination]="true"
        [paginationPageSize]="10"
        [frameworkComponents]="frameworkComponents"
        [columnDefs]="columnDefs">
  </ag-grid-angular> -->
