<div class="container">
  <div class="row">
    <div class="col-md-6">
        <form [formGroup]="unitform" (ngSubmit)="CreateUnit()">
            <p-panel header="Unit Add / List">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3 text-right font-weight-bold">
                            Name :
                        </div>
                        <div class="ui-grid-col-8">
                            <input pInputText type="text" formControlName="UnitName" placeholder="Input Unit"/>
                            <div *ngIf="unitform.get('UnitName').errors && unitform.get('UnitName').touched" class="invalid-status">Unit Name is required</div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-3"></div>
                      <div class="ui-grid-col-3">
                          <button pButton type="submit" label="Submit" icon="pi pi-check" iconPos="left" [disabled]="!unitform.valid"></button>

                      </div>

                      <div class="ui-grid-col-3"></div>
                  </div>
                  </div>

            </p-panel>
          </form>
    </div>

    <div class="col-md-6">
      <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

        <p-table #dt [value]="unitService.list" [paginator]="true" [rows]="5" [resizableColumns]="true" [scrollable]="true"  scrollHeight="400px" [globalFilterFields]="['SupplierCode','UnitName','ContactPhone']">
            <ng-template pTemplate="caption">
                <div style="text-align: right; overflow-x: hidden;">
                 Search: <p class="wrapper"><input type="text" class="search-data" pInputText size="50" placeholder="Search Vendors" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"></p>
                </div>
              </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="col-unit" style="width:50%"> Name</th>
                    <th class="col-btns" style="width:30%"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item class="ui-resizable-column">
                <tr>
                    <td class="col-content-name" style="width:50%">{{item.UnitName }}</td>

                    <td class="col-content-btns" style="width:30%">
                        <p-button styleClass="ui-button-secondary" icon="pi pi-pencil" pTooltip="Edit Item" (onClick)="OnPopulateItem(item)" tooltipPosition="bottom"></p-button>

                        <!-- <button type="text" (click)="confirm(item.SupplierId)" pButton icon="pi pi-check" label="Confirm"></button> -->
                        <p-button styleClass="ui-button-secondary" icon="pi pi-trash" pTooltip="Delete Item" tooltipPosition="bottom" (click)="onDeleteItem(item.UnitId)"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
               item not found
            </ng-template>
        </p-table>


    </div>

  </div>
</div>
