<div class="container">
  <div class="row">
    <div class="col-md-6">
        <form [formGroup]="supplierform" (ngSubmit)="CreateSupplier()">
            <p-panel header="Supplier">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3 text-right font-weight-bold">
                            Name :
                        </div>
                        <div class="ui-grid-col-8">
                            <input pInputText type="text" formControlName="name" placeholder="Required"/>
                            <div *ngIf="supplierform.get('name').errors && supplierform.get('name').touched" class="invalid-status">First Name is required</div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3 text-right font-weight-bold">
                            Phone :
                        </div>
                        <div class="ui-grid-col-8">
                            <input pInputText type="text" formControlName="phone" placeholder="Required"/>
                            <div *ngIf="supplierform.get('phone').errors && supplierform.get('phone').touched" class="invalid-status">Phone Num is required</div>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3 text-right font-weight-bold">
                            Rept.Name :
                        </div>
                        <div class="ui-grid-col-8">
                            <input pInputText type="text" formControlName="reptname" placeholder="Required"/>
                            <div *ngIf="supplierform.get('reptname').errors && supplierform.get('reptname').touched" class="invalid-status">Last Name is required</div>
                          </div>
                    </div>

                    <div class="ui-grid-row">
                      <div class="ui-grid-col-3 text-right font-weight-bold">
                          Rept.Phone :
                      </div>
                      <div class="ui-grid-col-8">
                          <input pInputText type="text" formControlName="reptphone" placeholder="Required"/>
                          <div *ngIf="supplierform.get('reptphone').errors && supplierform.get('reptphone').touched" class="invalid-status">Rept.Phone is required</div>
                        </div>
                  </div>
                  <!-- <p>Current date: {{location.value | date}}</p> -->
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3 text-right font-weight-bold">
                        Location :
                    </div>
                    <div class="ui-grid-col-8">
                      <p-dropdown [options]="suppService.locationList" formControlName="location"></p-dropdown>
                        <!-- <p-dropdown [options]="locationList" formControlName="location"  [filter]="true" optionLabel="label"></p-dropdown> -->
                        <!-- <p-dropdown [autoWidth]="false" [options]="units" formControlName="location" ></p-dropdown> -->
                        <!-- <p-dropdown [autoWidth]="false" [options]="units" formControlName="location" optionLabel="label"></p-dropdown> -->
<!--
<p-dropdown
  [options]="locationList"
  formControlName="location" optionLabel="label">
</p-dropdown> -->
                        <div *ngIf="supplierform.get('location').errors && supplierform.get('location').touched" class="invalid-status">Location is required</div>
                      </div>
                </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3 text-right font-weight-bold">
                            Address:
                        </div>
                        <div class="ui-grid-col-8">
                            <textarea pInputTextarea type="text" formControlName="address" ></textarea>
                        </div>

                    </div>
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-3"></div>
                      <div class="ui-grid-col-3">
                          <button pButton type="submit" label="Submit" icon="pi pi-check" iconPos="left" [disabled]="!supplierform.valid"></button>

                      </div>

                      <div class="ui-grid-col-3"></div>
                  </div>
                  </div>

            </p-panel>
          </form>
    </div>

    <div class="col-md-6">


        <p-table #dt [value]="suppService.list" [paginator]="true" [rows]="5" [resizableColumns]="true" [scrollable]="true"  scrollHeight="400px" [globalFilterFields]="['SupplierCode','SupplierName','ContactPhone']">
            <ng-template pTemplate="caption">
                <div style="text-align: right; overflow-x: hidden;">
                 Search: <p class="wrapper"><input type="text" class="search-data" pInputText size="50" placeholder="Search Vendors" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"></p>
                </div>
              </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="col-name" style="width:20%">Code</th>
                    <th class="col-unit" style="width:50%"> Name</th>
                    <th class="col-qtd" style="width:30%">Phone</th>
                    <th class="col-btns" style="width:30%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item class="ui-resizable-column">
                <tr>
                    <td class="col-content-name" style="width:20%">{{item.SupplierCode }}</td>
                    <td class="col-content-unit" style="width:50%">{{item.SupplierName}}</td>
                    <td class="col-content-qtd"style="width:30%">{{item.ContactPhone}}</td>
                    <td class="col-content-btns" style="width:30%">
                        <p-button styleClass="ui-button-secondary" icon="pi pi-pencil" pTooltip="Edit Item" (onClick)="OnPopulateItem(item)" tooltipPosition="bottom"></p-button>
                        <p-button styleClass="ui-button-secondary" icon="pi pi-trash" pTooltip="Delete Item" tooltipPosition="bottom" (onClick)="onDeleteItem(item)"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
               item not found
            </ng-template>
        </p-table>


    </div>

  </div>
</div>
