
<form [formGroup]="productEntryForm" (ngSubmit)="CreateProduct()">
    <p-panel header="Product">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-lg-12">
                <div class="ui-g form-group">
                  <div class="ui-g-12 ui-md-3 ">
                      <label class="control-label  font-weight-bold">   Product Name : </label>
                    <input pInputText type="text"size="30" formControlName="ProductName" placeholder=""/>
                    <div *ngIf="productEntryForm.get('ProductName').errors && productEntryForm.get('ProductName').touched" class="invalid-status ">First Name is required</div>
                  </div>

                  <div class="ui-g-12 ui-md-3">
                      <label class="control-label font-weight-bold">  Supplier : </label>
                      <p-dropdown [options]="prodService.supplierList" formControlName="SupplierId" [filter]="true"></p-dropdown>
                      <div *ngIf="productEntryForm.get('SupplierId').errors && productEntryForm.get('SupplierId').touched" class="invalid-status">Suppler Name is required</div>
                  </div>

                  <div class="ui-g-12 ui-md-3">
                      <label class="control-label font-weight-bold">  Unit : </label>
                    <p-dropdown [options]="prodService.unitList" formControlName="UnitId" [filter]="true"></p-dropdown>
                    <div *ngIf="productEntryForm.get('UnitId').errors && productEntryForm.get('UnitId').touched" class="invalid-status">Unit is required</div>
                  </div>

                  <div class="ui-g-12 ui-md-3">
                    <label class="control-label font-weight-bold">  Sell Price : </label>
                    <input pInputText type="text" formControlName="SellPrice" placeholder=""/>
                    <div *ngIf="productEntryForm.get('SellPrice').errors && productEntryForm.get('SellPrice').touched" class="invalid-status">Sell Price is required</div>
                  </div>

                  <div class="ui-g-12 ui-md-3">
                    <label class="control-label font-weight-bold">   Currency : </label>
                    <input pInputText type="text" formControlName="Currency" placeholder=""/>
                    <div *ngIf="productEntryForm.get('Currency').errors && productEntryForm.get('Currency').touched" class="invalid-status">Currency is required</div>
                  </div>

                  <div class="ui-g-12 ui-md-3">
                      <label class="control-label font-weight-bold">   Cost Price : </label>
                      <input pInputText type="text" formControlName="CostPrice" placeholder=""/>
                    <div *ngIf="productEntryForm.get('CostPrice').errors && productEntryForm.get('CostPrice').touched" class="invalid-status">Cost Price is required</div>
                  </div>

                </div>
                <div class="ui-g-12 ui-md-3">
                    <button pButton type="submit" label="Submit" icon="pi pi-save" iconPos="left" [disabled]="!productEntryForm.valid"></button>
                  </div>
              </div>
            </div>

  </p-panel>
</form>
