

        <!-- <div class="form-row">

          <div class="col-xs-12 col-12 col-md-3 form-group">
            <label class="contReamrks-label">   Mr Date : </label>
            <input type="text" class="form-contReamrks form-contReamrks-sm" bsDatepicker formControlName="dtMr" [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }">
            <div *ngIf="mrEntryForm.get('dtMr').errors && mrEntryForm.get('dtMr').touched" class="invalid-status">MR Date  is required</div>
          </div>

          <div class="form-group col-md-3">
              <label class="contReamrks-label">  Supplier : </label>
              <select2 [data]="exampleData" class="form-contReamrks form-contReamrks-sm" ngDefaultContReamrks  formControlName="SupplierId" style="background-color:aliceblue" (valueChanged)="changed($event)"></select2>
            <div *ngIf="mrEntryForm.get('SupplierId').errors && mrEntryForm.get('SupplierId').touched" class="invalid-status">Supplier Name is required</div>
          </div>

          <div class="form-group col-md-3">
              <label class="contReamrks-label ">   Loading Date : </label>
              <input type="text" class="form-contReamrks  form-contReamrks-sm"  formControlName="dtLoading" bsDatepicker  [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }">
              <div *ngIf="mrEntryForm.get('dtLoading').errors && mrEntryForm.get('dtLoading').touched" class="invalid-status">Loading Date is required</div>
            </div>
            <div class="ui-g-12 ui-md-3">
              <label class="contReamrks-label font-weight-bold">  Bin : </label>
            <p-dropdown [options]="prodService.binCombo" formControlName="BinId" [filter]="true"></p-dropdown>
            <div *ngIf="mrEntryForm.get('BinId').errors && mrEntryForm.get('BinId').touched" class="invalid-status">Bin is required</div>
          </div>
            <div class="form-group col-md-8">
                <label class="contReamrks-label ">   Reamrks  : </label>
                <textarea  type="" class="form-contReamrks  form-contReamrks-sm"  formControlName="Remarks" rows="2" ></textarea>
              </div>
        </div>
        <button type="submit" class="btn btn-secondary" [disabled]="!mrEntryForm.valid">Submit</button> -->




<form [formGroup]="mrEntryForm" (ngSubmit)="CreateMr()">
  <p-panel header="Product">
      <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-lg-12">
              <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-3 ">
                    <label class="contReamrks-label  font-weight-bold">   MR Date : </label>
                  <input pInputText bsDatepicker type="text"size="30" formControlName="dtMr" placeholder="" [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"/>
                  <div *ngIf="mrEntryForm.get('dtMr').errors && mrEntryForm.get('dtMr').touched" class="invalid-status " >MR Date is required</div>
                </div>

                <div class="ui-g-12 ui-md-3">
                    <label class="contReamrks-label font-weight-bold">  Supplier : </label>
                    <p-dropdown [options]="prodService.brandCombo" formControlName="SupplierId" [filter]="true"></p-dropdown>
                    <div *ngIf="mrEntryForm.get('SupplierId').errors && mrEntryForm.get('SupplierId').touched" class="invalid-status">Brand Name is required</div>
                </div>

                <div class="ui-g-12 ui-md-3">
                    <label class="contReamrks-label font-weight-bold">  Loading Date : </label>
                  <p-dropdown [options]="prodService.unitCombo" formControlName="dtLoading" [filter]="true"></p-dropdown>
                  <div *ngIf="mrEntryForm.get('dtLoading').errors && mrEntryForm.get('dtLoading').touched" class="invalid-status">Unit is required</div>
                </div>
                
                <div class="ui-g-12 ui-md-3">
                  <label class="contReamrks-label font-weight-bold">  Bin Id : </label>
                <p-dropdown [options]="prodService.unitCombo" formControlName="BinId" [filter]="true"></p-dropdown>
                <div *ngIf="mrEntryForm.get('BinId').errors && mrEntryForm.get('BinId').touched" class="invalid-status">Bin is required</div>
              </div>

                <div class="ui-g-12 ui-md-3">
                    <label class="contReamrks-label font-weight-bold">   Reamrks  : </label>

                    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="Reamrks"></textarea>
                    <div *ngIf="mrEntryForm.get('Reamrks').errors && mrEntryForm.get('Reamrks').touched" class="invalid-status">Reamrks is required</div>
                </div>
              </div>
              <div class="ui-g-12 ui-md-3">
                  <button pButton type="submit" label="Submit" icon="pi pi-save" iconPos="left" [disabled]="!mrEntryForm.valid"></button>
                </div>
            </div>
          </div>

</p-panel>
</form>
